


.mat-drawer-container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: unset !important;
  overflow: hidden;
}

.example-spacer {
  flex: 1 1 auto;
  text-align: center;
}
.mat-sidenav-container .fas{
  margin-right: 10px;
  font-size: 13px;
  padding-top: 5px;
  vertical-align: sub;
}
.mat-sidenav-container a{
  margin-right: 20px;

}
.mat-toolbar.mat-primary{
  background: #ffffff !important;
  color: #000;
  border-style: solid;
  height: 55px !important;
  border-width: 0px 0px 0px 0px;
  /* padding-bottom: 23px !important; */
  /* padding-top: 25px !important; */
  border-bottom: 1px solid lightgrey;
  /* box-shadow: 2px 2px 17px 1px #bfbdbd; */
  border-color: var( --e-global-color-ff1a31f );
  margin-top: 0%;
  padding-left: 30px;
    padding-right: 30px;
}
.container {
  margin: 0 auto;
  /* padding: 20px; */
  /* max-width: 980px; */
  min-height: 70vh;
}
.footer {
  text-align: center;
}

.sidenav .header {
  padding: 10px;
}

form {
  font-size: 14px;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0;
}
.mat-form-field {
  width: 100px;
}
.mat-button {
  padding: 0;
}






@media only screen and (max-width: 480px) {
  .hide-small-screen {
    display: none;
  }
  .mat-vertical-content {
    padding: 0 !important;
  }
}
