
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px)  {
.user-model a{
    padding: 35px 30px 35px 30px;
      width: 30% !important;
      height: 193px;
      background-color: white;
      border: 1px solid #c7c7c7;
  }
  
  .user-model img{
    width: 60%;
    display: flex;
    padding-bottom: 10px;
    position: relative;
    margin: auto;
  }

  .grid{
    left: 10rem !important;
    
    z-index: 1;
  }

  .grid2{
    left: 30rem !important;
}

.user-container img{
    width: 15%;
    margin: auto;
    margin-top: 80px;
    display: block;
}

}
