

<div *ngIf="loading; else result">
  <mat-spinner></mat-spinner>
</div>

<ng-template #result>
  <swiper
    [autoHeight]="true"
    [autoplay]="true"
    [loop]="true"
    [navigation]="true"
    [pagination]="true"
  >

    <ng-template swiperSlide>
      <!-- <img src="../assets/images/banner1.jpg" alt="banner 1" /> -->
    </ng-template>

    <ng-template swiperSlide>
      <!-- <img src="../assets/images/banner2.jpg" alt="banner 1" /> -->
    </ng-template>
  </swiper>
  <!-- <h2>Latest Products</h2> -->
  <div
    *ngIf="!error"
    fxLayout="row wrap"
    fxLayoutGap="20px grid"
    fxLayoutGap.xs="10px grid"
  >

    <!-- <div
      fxFlex="25%"
      fxFlex.sm="33%"
      fxFlex.xs="100%"
      *ngFor="let product of products"
    >
      <mat-card class="mat-elevation-z4">
        <a [routerLink]="'/product/' + product.slug">
          <img mat-card-image [src]="product.image" />
          <mat-card-content>
            <p>
              {{ product.name }}
            </p>
            <app-rating [rating]="product.rating"></app-rating>
          </mat-card-content>
        </a>
        <mat-card-actions>
          <span>${{ product.price }}</span>
          <button mat-button (click)="addToCart(product)">ADD TO CART</button>
        </mat-card-actions>
      </mat-card>
    </div> -->
  </div>
</ng-template>


<div class="container">
  
<div class="service">
  <mat-grid-list class="grid-list" cols="6" rowHeight="6:1">
    <mat-grid-tile>
      <div>
        <img src="../../../assets/images/icon01.png" alt="" srcset="">
        <p>Phone & Device</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="../../../assets/images/icon02.png" alt="" srcset="">
        <p>Data Quota</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="../../../assets/images/icon03.png" alt="" srcset="">
        <p>Fibre Broadband</p>
      </div>
     </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="../../../assets/images/icon04.png" alt="" srcset="">
        <p>Postpaid</p>
      </div>
   
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="../../../assets/images/icon05.png" alt="" srcset="">
      <p>Prepaid</p>
      </div>
   </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="../../../assets/images/icon06.png" alt="" srcset="">
        <p>Bundles</p>
      </div>
    
    </mat-grid-tile>


  </mat-grid-list>
</div>
</div>

<div class="container">
  <div class="banner">
    <div class="banner-text-block">
      <h2>GET A FASTER DATA PLAN DEAL <br> FROM ONLY </h2>
      <span class="pricing-price">
        <sup class="currency">₹</sup><span>24.99</span><sub class="period">/Month</sub>

    </span>
    
    </div>
    <br><br>
    <a href="#" class="banner-btn" role="button">
      GET STARTED  </a>
      
  </div>
</div>




<header>
  <h1>Our Pricing</h1>
  <div class="toggle">
    <label>Annually </label>
    <div class="toggle-btn">
      <input type="checkbox" class="checkbox" id="checkbox" />
      <label class="sub" id="sub" for="checkbox">
        <div class="circle"></div>
      </label>
    </div>
    <label> Monthly</label>
  </div>
</header>
<div class="cards">
  <div class="card shadow">
    <ul>
      <li class="pack">Basic</li>
      <li id="basic" class="price bottom-bar">₹199.99</li>
      <li class="bottom-bar">500 GB Storage</li>
      <li class="bottom-bar">2 Users Allowed</li>
      <li class="bottom-bar">Send up to 3 GB</li>
      <li><button class="btn">Learn More</button></li>
    </ul>
  </div>
  <div class="card active">
    <ul>
      <li class="pack">Professional</li>
      <li id="professional" class="price bottom-bar">₹249.99</li>
      <li class="bottom-bar">1 TB Storage</li>
      <li class="bottom-bar">5 Users Allowed</li>
      <li class="bottom-bar">Send up to 10 GB</li>
      <li><button class="btn active-btn">Learn More</button></li>
    </ul>
  </div>
  <div class="card shadow">
    <ul>
      <li class="pack">Master</li>
      <li id="master" class="price bottom-bar">₹399.99</li>
      <li class="bottom-bar">2 TB Storage</li>
      <li class="bottom-bar">10 Users Allowed</li>
      <li class="bottom-bar">Send up to 20 GB</li>
      <li><button class="btn">Learn More</button></li>
    </ul>
  </div>
</div>


<div class="container-fuild container-feature">
  <div class="features">
    <mat-grid-list class="grid-list" cols="2" rowHeight="2:1">
      <mat-grid-tile> 
         <img src="../../../assets/images/image1.png" alt="banner 1" />  
      
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="right-block">
          <h1>
            Discover the best in TV <br> and film
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sapien euismod  montes magnis id bibendum condimentum felis mi, pharetra ad pulvinar consequat posuere quisque arcu nibh tempor dictum.</p>
        </div>
      </mat-grid-tile>
  <br><br>  <br><br>
    
        <mat-grid-tile><div class="left-block">
          <h1>
            Providing you with fast, <br> reliable Internet.
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sapien euismod  montes magnis id bibendum condimentum felis mi, pharetra ad pulvinar consequat posuere quisque arcu nibh tempor dictum.</p>
         
          <br><br>
          <a href="#" class="banner-btn2" role="button">
            GET STARTED  </a>
        </div></mat-grid-tile>
        <mat-grid-tile>
            <img src="../../../assets/images/image2.png" alt="banner 1" /> 
        </mat-grid-tile>
     
    
    </mat-grid-list>
  </div>
</div>

<div class="feature-shape-bottom" data-negative="false">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
  <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z"></path>
  </svg>		
</div>


<div class="container">
  <div class="contact-section">
    <div class="contact-text">
      <h1>Call Us Today To Get Started</h1>
      <p>Haven't found what you’re looking for? Save time <br>
         experts for exclusive deals - we answer calls</p>
         
     <a href="#" class="banner-btn2 cbtn" role="button">
            GET STARTED  </a>
    </div>
  </div>
</div>





<!-- footer -->

<footer class="footer-section">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Find us</h4>
                          <span>Nexapp Technologies ,Pune</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Call us</h4>
                          <span>9876543210 0</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Mail us</h4>
                          <span>mail@info.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-lg-4 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo">
                          <!-- <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a> -->
                      </div>
                      <div class="footer-text">
                          <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                          elit,Lorem ipsum dolor sit amet.</p>
                      </div>
                      <div class="footer-social-icon">
                          <span>Follow us</span>
                          <a href="#"><i class="fas fa-hashtag"></i></a>
                          <a href="#"><i class="fas fa-facebook"></i></a>
                          <a href="#"><i class="fas fa-instagram"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Useful Links</h3>
                      </div>
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">about</a></li>
                          <li><a href="#">services</a></li>
                         
                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Subscribe</h3>
                      </div>
                      <div class="footer-text mb-25">
                          <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                      </div>
                      <div class="subscribe-form">
                          <form action="#">
                              <input type="text" placeholder="Email Address">
                              <button><i class="fab fa-telegram-plane"></i></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Nexapp Copyright &copy; 2018, All Right Reserved</p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Terms</a></li>
                          <li><a href="#">Privacy</a></li>
                          <li><a href="#">Policy</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>

<!-- footer end -->